In [1]:
import pandas as pd
import numpy as np
import string
import re
from collections import Counter

In [2]:
raw = pd.read_csv( "../data/interim/lazada_review_clean_2.csv")

In [3]:
print(raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19833 entries, 0 to 19832
Data columns (total 4 columns):
rating        19833 non-null int64
review        19833 non-null object
avg_word      19833 non-null float64
word_count    19833 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 619.9+ KB
None

In [4]:
raw.head()

,rating,review,avg_word,word_count
0,1,"pengiriman,ninja,sangat,lama,jauh,berbeda,kuri...",5.812500,16
1,1,"pesananku,nomor,order,terkirim,baik,nomor,orde...",6.294574,258
2,5,"tidak,sia,sia,susah,payah,ikutan, flash sale,h...",6.368421,19
3,5,"tujuh,kali,gagal, flash sale,padahal,tidak,men...",6.500000,16
4,5,"kurang,setuju,flash sale,sih,strategi,pemasara...",6.888889,27

In [5]:
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))

In [6]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer = factory.create_stemmer()
raw['review'] = raw['review'].apply(lambda x: stemmer.stem(x).replace(" ",","))

In [7]:
def avg_word(words):
  return (sum(len(word) for word in words)/len(words))

raw['avg_word'] = raw['review'].apply(lambda x: avg_word(x.split(",")))

In [8]:
raw.to_csv("../data/interim/lazada_review_stemmed_1.csv", index=False)