In [1]:
import pandas as pd
import numpy as np
import string
import re
from collections import Counter

In [2]:
raw = pd.read_csv( "../data/interim/lazada_review_clean_v2.0_3.csv")

In [3]:
print(raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19898 entries, 0 to 19897
Data columns (total 4 columns):
rating        19898 non-null int64
review        19898 non-null object
avg_word      19898 non-null float64
word_count    19898 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 621.9+ KB
None

In [4]:
raw.head()

,rating,review,avg_word,word_count
0,1,"pengiriman,melalui,ninja,sangat,lama,jauh,berb...",5.750000,20
1,1,"pesananku,pada,nomor,pemesanan,ini,terkirim,de...",5.408602,93
2,5,"tidak,sia,sia,susah,payah,ikutan,flash,sale,ak...",5.166667,30
3,5,"setelah,tujuh,kali,gagal,flash,sale,akhir,dapa...",5.714286,28
4,5,"saya,kurang,setuju,dengan,flash,sale,memang,si...",5.295082,61

In [5]:
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))

In [6]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

factory = StemmerFactory()
stemmer = factory.create_stemmer()
raw['review'] = raw['review'].apply(lambda x: stemmer.stem(x).replace(" ",","))

In [7]:
def avg_word(words):
  return (sum(len(word) for word in words)/len(words))

raw['avg_word'] = raw['review'].apply(lambda x: avg_word(x.split(",")))

In [8]:
raw.to_csv("../data/interim/lazada_review_stemmed_v2.0_1.csv", index=False)