In [1]:
import pandas as pd
import numpy as np

In [2]:
raw = pd.read_csv( "../data/interim/1.2_lazada_review_cleaner_pure.csv")
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))
sentences = raw.loc[:,['review','rating']]
def rating_to_sentiment(rating):
    if rating > 3:
        return 1
    else:
        return 0
    
sentences['sentiment'] = sentences['rating'].apply(rating_to_sentiment)
sentences.drop(['rating'],axis=1,inplace=True)
neg = sentences[sentences['sentiment'] == 0]
pos = sentences[sentences['sentiment'] == 1]
print("All Processed Data")
print("Negative: ",neg.shape)
print("Positive: ",pos.shape)

All Processed Data
Negative:  (6702, 2)
Positive:  (13196, 2)

In [3]:
from sklearn.model_selection import train_test_split
train, validation = train_test_split(sentences, test_size=0.2, random_state=42)
test = validation.loc[:,['review']]

In [4]:
train.head()

                                                  review  sentiment
14895  pengiriman lebih cepat dari waktu yang tentuka...          1
8387           semoga untuk pemesanan berikut dapat lagi          1
7267                      telepon genggam bagus dan oleh          1
1333                sampai dengan selamat penjelasan oke          1
10496                                        barang asli          1

In [5]:
print(train.shape)

(15918, 2)

In [6]:
train.to_csv("../data/processed/train_1.csv", index=False, quoting=3)

In [7]:
test.head()

                                                  review
10452  redmi lima spesifikasi mumpuni cocok untuk gam...
1512   pengiriman sangat cepat dan rapi terima kasih ...
18467  pengiriman cepat sesuai sama gambar tidak kece...
9992   secara keseluruhan bagus pekerjaan barang sesu...
15405  pelayanan dan harga bagus tertawa penyok sedik...

In [8]:
print(test.shape)

(3980, 1)

In [9]:
test.to_csv("../data/processed/test_1.csv", index=False, quoting=3)

In [10]:
validation.to_csv("../data/processed/validation_1.csv", index=False, quoting=3)

In [11]:
raw = pd.read_csv( "../data/interim/1.2_lazada_review_cleaner_stop_removed.csv")
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))
sentences = raw.loc[:,['review','rating']]
    
sentences['sentiment'] = sentences['rating'].apply(rating_to_sentiment)
sentences.drop(['rating'],axis=1,inplace=True)
neg = sentences[sentences['sentiment'] == 0]
pos = sentences[sentences['sentiment'] == 1]
print("All Processed Data")
print("Negative: ",neg.shape)
print("Positive: ",pos.shape)

All Processed Data
Negative:  (6642, 2)
Positive:  (12980, 2)

In [12]:
train, validation = train_test_split(sentences, test_size=0.3, random_state=42)
test = validation.loc[:,['review']]

In [13]:
train.head()

                                                  review  sentiment
1076                                               bagus          1
311                                            memuaskan          1
18464                                        tidak perlu          0
16963  bagus agak kecewa pinggiran kaca sempal tidak ...          0
16219  cepat rapi coba tidak bisa chatting rusak lebi...          0

In [14]:
print(train.shape)

(13735, 2)

In [15]:
train.to_csv("../data/processed/train_2.csv", index=False, quoting=3)

In [16]:
test.head()

                                                  review
16146                                              video
4738                             bagus cepat sayang kena
16600  terima kasih coba opo tidak bisa  power bank t...
13147  terima sukses bagus beberapa fungsi adik oke b...
6700                                murah kualitas mahal

In [17]:
print(test.shape)

(5887, 1)

In [18]:
test.to_csv("../data/processed/test_2.csv", index=False, quoting=3)

In [19]:
validation.to_csv("../data/processed/validation_2.csv", index=False, quoting=3)

In [20]:
raw = pd.read_csv( "../data/interim/1.3_lazada_review_stemmed.csv")
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))
sentences = raw.loc[:,['review','rating']]
    
sentences['sentiment'] = sentences['rating'].apply(rating_to_sentiment)
sentences.drop(['rating'],axis=1,inplace=True)
neg = sentences[sentences['sentiment'] == 0]
pos = sentences[sentences['sentiment'] == 1]
print("All Processed Data")
print("Negative: ",neg.shape)
print("Positive: ",pos.shape)

All Processed Data
Negative:  (6702, 2)
Positive:  (13196, 2)

In [21]:
train, validation = train_test_split(sentences, test_size=0.3, random_state=42)
test = validation.loc[:,['review']]

In [22]:
train.head()

                                                  review  sentiment
18305  mesan jam ini pasang semua fungsi baik kirim e...          0
12037  barang sesuai pesan lebih cepat sampai dari es...          1
8285   telepon genggam asli dan kualitas bagus harga ...          1
11765  dus masih sangat mulus jelas turut saya kurang...          1
1143                                        terima kasih          1

In [23]:
print(train.shape)

(13928, 2)

In [24]:
train.to_csv("../data/processed/train_3.csv", index=False, quoting=3)

In [25]:
test.head()

                                                  review
10452  redmi lima spesifikasi mumpuni cocok untuk gam...
1512   kirim sangat cepat dan rapi terima kasih kasih...
18467  kirim cepat sesuai sama gambar tidak kecewa po...
9992   cara seluruh bagus kerja barang sesuai ekspekt...
15405  layan dan harga bagus tertawa penyok sedikit d...

In [26]:
print(test.shape)

(5970, 1)

In [27]:
test.to_csv("../data/processed/test_3.csv", index=False, quoting=3)

In [28]:
validation.to_csv("../data/processed/validation_3.csv", index=False, quoting=3)